<a href="https://colab.research.google.com/github/josh-shah/josh-shah.github.io/blob/main/CapologyWageDataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('all_premier-league_2022-2023_last_updated_15112022.csv')

In [ ]:
#The Capology Scrape left us with totals of each Club in rows, so we need to drop these'
df = df.drop([23,24,52,53,81,82,107,108,132,133,159,160,185,186,214,215,240,241,269,270,297,298,326,327,351,352,384,385,414,415,446,447,472,473,499,500,525,526,552])

In [ ]:
#Drop columns that we don't need
df = df.drop(['Gross P/Y(IN GBP)','Gross(IN GBP)','Expiration Jun 30, 2023Jun 30, 2024Jun 30, 2025Jun 30, 2026Jun 30, 2027','Length 1-yr2-yrs3-yrs4-yrs5-yrs','GrossRemaining(IN GBP)','ReleaseClause(IN GBP)','Status ReserveStarter','Active'],axis=1)

In [ ]:
df

,0,Player,Gross P/W(IN GBP),Pos. DFKM,Pos. AMCBCFCMDMGKLBLWRBRMRW,Age,Country,Team,Premier League,2022-2023
0,1,Gabriel Jesus,"£265,000.00",F,CF,25,Brazil,Arsenal,Premier League,2022-2023
1,2,Thomas Partey,"£200,000.00",M,DM,29,Ghana,Arsenal,Premier League,2022-2023
2,3,Oleksandr Zinchenko,"£150,000.00",D,LB,25,Ukraine,Arsenal,Premier League,2022-2023
3,4,Ben White,"£120,000.00",D,CB,24,England,Arsenal,Premier League,2022-2023
4,5,Granit Xhaka,"£120,000.00",M,DM,29,Switzerland,Arsenal,Premier League,2022-2023
...,...,...,...,...,...,...,...,...,...,...
547,21,Connor Ronan,£769.00,M,CM,24,Ireland,Wolverhampton,Premier League,2022-2023
548,22,Nathan Collins,£0.00,D,CB,21,Ireland,Wolverhampton,Premier League,2022-2023
549,23,Gonçalo Guedes,£0.00,F,LW,25,Portugal,Wolverhampton,Premier League,2022-2023
550,24,Boubacar Traoré,£0.00,M,CM,21,Mali,Wolverhampton,Premier League,2022-2023
551,25,Sasa Kalajdzic,£0.00,F,CF,25,Austria,Wolverhampton,Premier League,2022-2023

In [ ]:
#Rename column to more readable name
df.rename(columns={'Gross P/W(IN GBP)': 'weekly_wage'} , inplace=True)

In [ ]:
#Drop anyone with unknown wages
df = df[df.weekly_wage != '£0.00']

In [ ]:
df

,0,Player,weekly_wage,Pos. DFKM,Pos. AMCBCFCMDMGKLBLWRBRMRW,Age,Country,Team,Premier League,2022-2023
0,1,Gabriel Jesus,"£265,000.00",F,CF,25,Brazil,Arsenal,Premier League,2022-2023
1,2,Thomas Partey,"£200,000.00",M,DM,29,Ghana,Arsenal,Premier League,2022-2023
2,3,Oleksandr Zinchenko,"£150,000.00",D,LB,25,Ukraine,Arsenal,Premier League,2022-2023
3,4,Ben White,"£120,000.00",D,CB,24,England,Arsenal,Premier League,2022-2023
4,5,Granit Xhaka,"£120,000.00",M,DM,29,Switzerland,Arsenal,Premier League,2022-2023
...,...,...,...,...,...,...,...,...,...,...
543,17,Yerson Mosquera,"£7,308.00",D,CB,21,Colombia,Wolverhampton,Premier League,2022-2023
544,18,Rayan Aït-Nouri,"£4,423.00",D,LB,21,France,Wolverhampton,Premier League,2022-2023
545,19,Toti Gomes,"£2,692.00",D,CB,23,Portugal,Wolverhampton,Premier League,2022-2023
546,20,Chem Campbell,"£2,500.00",F,AM,19,Wales,Wolverhampton,Premier League,2022-2023
547,21,Connor Ronan,£769.00,M,CM,24,Ireland,Wolverhampton,Premier League,2022-2023

In [ ]:
exported_values = list(df.T.to_dict().values() )

In [ ]:
import csv

In [ ]:
from google.colab import files

df.to_csv('capology_clean.csv', encoding = 'utf-8-sig') 
files.download('capology_clean.csv')