<a href="https://colab.research.google.com/github/josh-shah/josh-shah.github.io/blob/main/PROJECTEPLPOINTS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("EPL Standings 2000-2022.csv")

In [ ]:
df1 = df.drop(['Pld','W','D','L',"GF","GA","GD","Qualification or relegation"],axis= 1)

In [ ]:
df1

      Season  Pos               Team  Pts
0    2000-01    1  Manchester United   80
1    2000-01    2            Arsenal   70
2    2000-01    3          Liverpool   69
3    2000-01    4       Leeds United   68
4    2000-01    5       Ipswich Town   66
..       ...  ...                ...  ...
435  2021-22   16            Everton   39
436  2021-22   17       Leeds United   38
437  2021-22   18            Burnley   35
438  2021-22   19            Watford   23
439  2021-22   20       Norwich City   22

[440 rows x 4 columns]

In [ ]:
exported_values = list(df1.T.to_dict().values() )

In [ ]:
import csv

In [ ]:
from google.colab import files

df1.to_csv('EPLPoints2000_2022.csv', encoding = 'utf-8-sig') 
files.download('EPLPoints2000_2022.csv')